<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Cliente</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>



</head>
<body>
	<!-- Los fragment se insertan ya sea con th:include o th:replace -->
	<!-- th:include simplemente se inserta dentro del espacio asignado -->
	<!-- th:replace remplaza todo el espacio asignado por el fragment correspondiente -->
	<!-- sintaxis th:include/replace="rutafragment :: Nombre del fragment -->
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		
		<form th:action="@{/cliente/registrar}" method="post" th:object="${cliente}"
		
			enctype="multipart/form-data">
			<div class="form-group">
			
				<label for="idcliente">ID:</label> <input type="text"
					class="form-control" th:field="*{idCliente}"></input>

				<div class="form-group">
					<label for="nombre">NOMBRE:</label> <input type="text"
						th:field="*{nombreCliente}" class="form-control" id="nombre"></input>
						
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('nombreCliente')}" th:errors="*{nombreCliente}">
						</div>
						
						
<!--  no me sale esta mierda csm -->
						
					<label for="tipocliente" class=" col-sm-2 col-form-label">Tipo Cliente: </label>
				<select
						class="form-control" th:field="*{tipocliente.idTipocliente}">
						<option th:each="tc: ${listaTiposcliente}" th:value="${tc.idTipocliente}"
							th:text="${tc.nombTipocliente}"
							th:selected="(${tc.idTipocliente} == *{tipocliente.idTipocliente})"></option>
					</select>
					
					<label for="jefeventas" class=" col-sm-2 col-form-label">Jefe Ventas: </label>
				<select
						class="form-control" th:field="*{jefeventas.idJefeventas}">
						<option th:each="j: ${listaJefeventas}" th:value="${j.idJefeventas}"
							th:text="${j.nombJefeventas}"
							th:selected="(${j.idJefeventas} == *{jefeventas.idJefeventas})"></option>
					</select>
					
					
					<div class="form-group">
						
						<label for="apellido">APELLIDO:</label> 
						<input type="text" th:field="*{apellidosCliente}" class="form-control" id="apellido"></input>
						
						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('apellidosCliente')}" 
								th:errors="*{apellidosCliente}">
						</div>
						
					</div>
					
					<div class="form-group">
						
						<label for="dni">TELEFONO:</label> 
						<input type="text" th:field="*{telefonoCliente}" class="form-control" id="telefono"></input>
						
						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('telefonoCliente')}" 
								th:errors="*{telefonoCliente}">
						</div>
						
					</div>		
				</div>

			</div>

			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/cliente/listar" class="btn btn-danger">Cancelar</a>

		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
