<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Detalles despacho</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<a style="border-bottom-color: green" th:href="@{/detalledespacho/irRegistrar}"
						id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus"></span> Detalle despacho
					</a>
					<a style="border-bottom-color: green" th:href="@{/detalledespacho/irBuscar}"
						id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-search"></span> 
					</a>
					
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">CODIGO</th>
								<th class="text-center">NOMBRE</th>
								<th class="text-center">PRODUCTO</th>
								<th class="text-center">ORDEN DESPACHO</th>
								<th class="text-center">LUGAR</th>
								<th class="text-center">CANTIDAD</th>
							    
								
								<th class="text-center">OPERACIÓN</th>
								<th class="text-center">OPERACIÓN</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${listaDetalledespacho}">
							<!-- th:text muestra una linea de texto -->
							<td th:text="${p.idDetalledespacho}"></td>
								<td th:text="${p.nombdDespacho}"></td>
								<td th:text="${p.producto.nomProducto}"></td>
								<td th:text="${p.ordendespacho.idOrdendespacho}"></td>
								<td th:text="${p.lugardDespacho}"></td>
								<td th:text="${p.cantidaddDespacho}"></td>
								
								
							
								
							
								
								
								
				
								
								<!-- th:href Redirecciona -->
								<td><a th:href="@{/detalledespacho/eliminar?id=}+${p.idDetalledespacho}">Eliminar</a></td>
								<td><a th:href="@{'/detalledespacho/modificar/' + ${p.idDetalledespacho}}">Modificar</a></td>


							</tr>
						</tbody>

					</table>

				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
